
body, .summary .markdown {
  font-family: 'Montserrat', sans-serif;
}

form.subscribe {
  margin-bottom: 0px;
}

form.success .input {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;

   opacity: 0;
}

form .message {
   opacity: 0;
   display: block;
   color: white;
   font-size: 47px;
}

.ui.raised.segment {
  background: #fff9f952;
}

form.success .message {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;

  opacity: 1;
}

@font-face {
  font-family: PlaylistScript;
  src: url("/fonts/Playlist Script.otf");
}

body.landing {
  padding-top: 80px;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

body.landing h1 {
  font-size: 50px;
  font-weight: normal;
}

body.landing .navigation {
  margin-top: 25px !important;
}

body.landing .logo h1 .item {
  margin-bottom: 12px;
  letter-spacing: 25px;
}

body.landing h1 .item.script{
  font-family: PlaylistScript;
  letter-spacing: -1px;
  font-size: 2em !important;
  margin-right: 30px;
}

body.landing h1 .item.self{
  letter-spacing: 33px;
}

body.landing .grid .column {
  font-family: 'Montserrat', sans-serif;
  max-width: 600px;
}
body.landing .logo .column {
  max-width: 370px;
  padding-left: 30px !important;
  background: rgba(255, 255, 255, 0.84);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
body.landing .grid .column .content {
  padding: 20px 0;
}
body.landing .ui.menu {
  background-color: transparent;
}
body.landing .ui.menu .icon {
  color: white;
}
body.landing .divider {
  color: white;
}

body.landing .nav-item {
  padding: 30px 0;
}

body.landing .nav-item a {
  padding: 10px 100px;
  font-size: 47px;
  letter-spacing: 10px;
  color: white;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  body.landing h1 {
    font-size: 40px;
  }

  body.landing .logo .column {
    max-width: 300px;
    padding-left: 40px !important;
  }

  body.landing {
    background-size: 155%;
  }
}

@media only screen and (max-width: 600px) {
  body.landing {
    background-size: 250%;
  }
}

@media only screen and (max-width: 400px) {
  body.landing h1 {
    font-size: 30px;
  }

  body.landing .navigation .nav-item a {
    font-size: 40px;
  }

  body.landing .logo .column {
    max-width: 270px;
  }

  body.landing h1 .item.self {
    letter-spacing: 28px;
  }

  body.landing {
    background-size: cover;
    background: no-repeat center center fixed;
  }
}

p, .markdown {
  font-size: 17px;
}

.markdown p {
  //font-family: 'Playfair Display', serif;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.6em;
}

p img {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

h1 a {
  color: inherit;
}

.blog-header-img {
 margin: 30px 0px;
}

.nav-item {
  font-size: 16px;
}

.bold-title {
  font-size: 5rem;
}

.store-header {
  margin-bottom: 60px;
}

.hero.is-large {
  background: none;:
}

.hero-body h1, .hero-body h3 {
  text-shadow: 0px 0px 42px gray !important;
}

.hero-foot hr:first-child {
 margin-top: 0px;
}

.product .content {
  text-align: center;
}

a.product {
  display: inline-block;
}

.price::before {
  content: "$"
}

.social-icons {
    margin-right: 15px;
}

.button:hover, .button:hover, .nav-item:hover  {
  transform: scale(1.15);
}

.social-icons a.circular i.fa:hover {
  transform: scale(1.15);
}

.social-icons a.circular i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #00b8d4;
    padding: 0.7em 0.8em;

}

.modal-close {
    background-color: #00b8d4;
}

.modal-background {
  background-color: rgba(255, 255, 255, .95);
}

.modal-card {
  overflow: auto;
}

.description {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.product-link {
  margin-bottom: 15px;
}

.buy-btn {
  height: 50px;
  width: 150px;
  margin-top: 20px!important;
}

#contact .markdown p {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.about .markdown p, .blog.markdown p, .blog.markdown h4 {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.strong-post-title {
  font-family: "BebasNeue Regular";
  font-size: 50px;
  letter-spacing: 5px;
  color: #4183C4;
}

.blog-index h3.ui.header {
  font-size: 29px;

}

.read-more {
  font-weight: bolder;
}

.blog.markdown h4, .blog h2, .blog h3, .blog h5 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.blog-header.ui.text.container {
  max-width: 900px !important;
}

.blog.markdown h2 {
  font-size: 40px;
}

.blog p, .markdown p, .markdown {
  line-height: 2em;
  font-size: 19px;
}

.container.blog.markdown {
  margin 0 auto;
}

.blog p strong {
  font-size: 1em;
}

.blog img {
  width: auto;
  max-width: 100%;
  max-height: 550px;
}

.blog-share {
  line-height: 30px;
  margin-top: 10px;
}

.container.markdown.blog > p:first-of-type > img, .blog a img {
  width: 100%;
  max-height: 100%;
}

.blog-share .fa {
  font-size: 32px;
  padding-left: 11px;
}

.pinnable {
  max-width: 650px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.pinnable .ui.header {
  font-size: 40px !important;
  margin-bottom: 0.5em;
}

#mc_embed_signup input.email, #mc_embed_signup .button {
  font-size: 20px !important;
  height: 50px !important;
}

#mc_embed_signup .button {
  padding: 0 80px !important;
}

@font-face {
  font-family: "BebasNeue Bold";
  src: url("/fonts/BebasNeue Bold.otf");
}

@font-face {
  font-family: "BebasNeue Regular";
  src: url("/fonts/BebasNeue Regular.otf");
}

@font-face {
  font-family: "BebasNeue Thin";
  src: url("/fonts/BebasNeue Thin.otf");
}

main {
 padding-top:  100px;
 padding-bottom: 100px;
}

h1.ui.header {
  font-family: "BebasNeue Regular";
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: 400;
}

h2.ui.header {
  margin-bottom: 2em;
}

h2.ui.header, h2, h3, h4, h5, .sidebar a {
  font-family: "BebasNeue Regular";
  letter-spacing: 5px;
}

.ui.relaxed.divided.list.big .item {
  font-family: "BebasNeue Regular";
  letter-spacing: 2.5px;
  padding: 20px 10px;
}

.ui.relaxed.divided.list.big .item:hover {
  background-color: #ececec;
  border-radius: 4px;

}

h3.ui.header {
  font-family: "BebasNeue Regular";
}

.text.container h3 {
  font-size:20px;
}

.summary {
  margin-top: 1em;
}

.fixed.menu.nav.ui {

 padding-bottom:  6px;
 padding-top:  6px;
}

.footer.inverted {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #80808026;
}

.item.toggle-sidebar .icon {
  font-size: 2em;
}

.sidebar a , .big-nav h3 {
  font-size: 27px;
}

.big-nav .column .content {
  background-color: #80808026;
  font-family: "BebasNeue Regular"
}

.centered {
  text-align: center;
}

.ui.section {
  margin-top: 50px;
}

.list .item .title {
  font-size: 1.2em;
}

.top-margin {
  margin-top: 3em;
}

@media only screen and (max-width: 800px) .blog img {
 width: 100%
}

@media only screen and (min-width: 1200px) .ui.container {
  width: 1200px !important;
}
