
body, .summary .markdown {
  font-family: 'Playfair Display', serif;
}

p, .markdown {
  font-size: 17px;
}

.markdown p {
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.6em;
}

p img {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.nav-item {
  font-size: 16px;
}

.bold-title {
  font-size: 5rem;
}

.store-header {
  margin-bottom: 60px;
}

.hero.is-large {
  background: none;:
}

.hero-body h1, .hero-body h3 {
  text-shadow: 0px 0px 42px gray !important;
}

.hero-foot hr:first-child {
 margin-top: 0px;
}

.product .content {
  text-align: center;
}

a.product {
  display: inline-block;
}

.price::before {
  content: "$"
}

.social-icons {
    margin-right: 15px;
}

.button:hover, .button:hover, .nav-item:hover  {
  transform: scale(1.15);
}

.social-icons a.circular i.fa:hover {
  transform: scale(1.15);
}

.social-icons a.circular i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #00b8d4;
    padding: 0.7em 0.8em;

}

.modal-close {
    background-color: #00b8d4;
}

.modal-background {
  background-color: rgba(255, 255, 255, .95);
}

.modal-card {
  overflow: auto;
}

.description {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.product-link {
  margin-bottom: 15px;
}

.buy-btn {
  height: 50px;
  width: 150px;
  margin-top: 20px!important;
}

#contact .markdown p {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.about .markdown p, .blog.markdown p, .blog.markdown h4 {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
}

.blog.markdown h4, .blog h2, .blog h3, .blog h5 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.blog p, .markdown p, .markdown {
  line-height: 2em;
  font-size: 19px;
}

.blog p strong {
  font-size: 1em;
}

.blog img {
  width: 100%;
}

.blog-share {
  line-height: 30px;
  margin-top: 10px;
}

.blog-share .fa {
  font-size: 32px;
  padding-left: 11px;
}

@font-face {
  font-family: "BebasNeue Bold";
  src: url("/fonts/BebasNeue Bold.otf");
}

@font-face {
  font-family: "BebasNeue Regular";
  src: url("/fonts/BebasNeue Regular.otf");
}

@font-face {
  font-family: "BebasNeue Thin";
  src: url("/fonts/BebasNeue Thin.otf");
}

main {
 padding-top:  100px;
 padding-bottom: 100px;
}

h1.ui.header {
  font-family: "BebasNeue Regular";
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: 400;
}

h2.ui.header {
  margin-bottom: 2em;
}

h2.ui.header, h2, h3, h4, h5, .sidebar a {
  font-family: "BebasNeue Regular";
  letter-spacing: 5px;
}

.text.container h3 {
  font-size:20px;
}

.summary {
  margin-top: 1em;
}

.fixed.menu.nav.ui {

 padding-bottom:  6px;
 padding-top:  6px;
}

.footer.inverted {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #80808026;
}

.item.toggle-sidebar .icon {
  font-size: 2em;
}

.sidebar a , .big-nav h3 {
  font-size: 27px;
}


.slideshow .controls a.right {
  right: 0;
  left: auto;
  padding-right: 20px;
}

.slideshow .controls a.left {
  right: auto;
  left: 0;
  padding-left: 20px;
}
.slideshow .controls a {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  font-size: 4em;
  color: #363636a1;
  z-index: 5;
  padding-top: 21%;
}

.slideshow .controls a:hover {
  cursor: pointer;
}

.big-nav .column .content {
  background-color: #80808026;
  font-family: "BebasNeue Regular"
}

.centered {
  text-align: center;
}

.slide { display: none;}
.slide.slide--current { display: block;}
.nav-img {
  padding-left: 20px;
  padding-right: 20px;

  padding-top: 30px;
  padding-bottom: 20px;

  border-radius: 5px;
}
.nav-img:hover {
   cursor: pointer;
}

.ui.section {
  margin-top: 50px;
}

.list .item .title {
  font-size: 1.2em;
}

.top-margin {
  margin-top: 3em;
}

@media only screen and (min-width: 1200px) .ui.container {
  width: 1200px !important;
}

